/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --bg-gray: #fafafa;
  --gray: #6f7287;
  --blue: #2b4050;
  --dark-blue: #111d25;
}

* { padding: 0; margin: 0; box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  font-family: 'Segoe UI', sans-serif;
}

body > main {
  flex: 1;
}

.centered {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer {
  width: 100%;
  text-align: center;
  padding: 1rem;
  background-color: var(--bg-gray);
}

.container {
  width: 100%;
  max-width: 1023px;
  margin: 0 auto;
}

section {
  padding: 3rem 1.5rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

hgroup > h3 {
  font-size: medium;
  font-weight: normal;
  color: var(--gray);
}